section { display: grid; grid-gap: 30px; grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); margin: 0; padding: 0; }
section .module { overflow: hidden; border-radius: 5px; position: relative; box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); }
section .module .pre { position: absolute; top: 20px; left: 20px; color: white; }
section .module .title { margin: 0; padding: 60px 30px 30px 30px; height: 140px; background: black; color: white; font-size: 28px; }
section .module .button { height: 60px; padding: 20px; display: flex; align-items: center; justify-content: flex-end; text-align: right; }
section .module .button a { padding: 10px; border-radius: 5px; background: black; color: white; font-size: 14px; text-decoration: none; }
section .module.locked .button { justify-content: center; }
